
/*=====================HEADER===================*/
@media screen and (min-width: 300px) and (max-width: 900px){
    .en-tete {
    flex-direction: column;
    }

  .logo {
    font-size: 10px;
    color: #000;
  }

  .nom{
    font-size: 40px;
    color: #274C5B;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Roboto sans-serif;
}


  .menu {
    flex-direction: column;
      font-size: 5vh;
  }

  .menu a {
    margin-bottom: 10px;
  }
}

/*=====================lIGNE1===================*/

@media screen and (min-width: 300px) and (max-width: 900px){

    .ligne1{
            width: 100%;
            height: 550px;
            top: 204px;
            margin-top: 50px;
            background-color: #F9F8F8;
        }

    .button {
            height: 5vh;
            width: 25vh;
            padding: 15px 20px;
            background-color: #B4A42C;
            background-image: url("Images1/Aerrow.png");
            background-size: contain;
            background-position: right;
            background-repeat: no-repeat;
            color: white;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            margin-top: 3vh;
            font-size: 4vh;
            font-weight: 500;
            text-align: left;
        }
    .contenu-ligne1{
        display: block;
        width: 30vw;
        height: auto;
        margin-top: 15vh;
        margin-left: 14vw;
        justify-content: left;
        float: left;
        }

    .texte1-ligne1{
        font-style: italic;
        color: #68A47F;
        font-size: xxx-large;
    }

    .texte2-ligne1{
        font-style: normal;
        color: #274C5B;
        font-size: 6vw;
    }


}

/*=====================lIGNE2===================*/

@media screen and (max-width: 900px) {

.ligne2{
    display: flex;
    width: 100%;
    height: 20vh;
    margin-top:50px;
    justify-content: center;
}

.bloc1-ligne2{
    border-radius: 15px;
    width: 40vw;
    height: 18vh;
    background-image: url("Images1/Image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    justify-content: start;
}

.bloc2-ligne2{
    border-radius: 15px;
    width: 40vw;
    height: 18vh;
    background-image: url("Images1/Image (1).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    justify-content: start;
}

.contenu-ligne2{
    display: block;
    width: 30vw;
    margin-left: 2vw;
    justify-content: left;
    float: right;
}

.texte1g-ligne2{
    font-style: italic;
    color: white;
    font-size: x-large;
}

.texte2g-ligne2{
    font-style: normal;
    color: white;
    font-size: 2vw;
}

.texte1d-ligne2{
    font-style: italic;
    color: #68A47F;
    font-size: x-large;
}

.texte2d-ligne2{
    font-style: normal;
    color: #274C5B;
    font-size: 2vw;
}
}


@media screen and (min-width: 300px) and (max-width: 768px){

}

/*=====================lIGNE3===================*/

@media screen and  (min-width: 300px) and (max-width: 900px) {
        .ligne3{
            display: block;
            height: 400px;
            background-image: url("Images1/Photo.png");
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 80%;
        }
        .image-ligne3{
        display: none;
        }

        .contenu-ligne3{
        display: block;
        justify-content: center;
        }

        .texte1-ligne3{
            font-style: italic;
            color: #F5F6F7;
            font-size: large;
            font-weight: 500;

        }

        .texte2-ligne3{
            color: #7FC884;
            font-size: 2vw;
            font-family: Roboto sans-serif;
            font-weight: 500;

        }

        .texte3-ligne3{
            color: #274C5B;
            font-size: small;
            font-weight: 500;

        }

        .alignement-ligne3{
            display: flex;
            margin-top: 15px;
            align-content: start;
            gap: 0.5vw;
            font-weight: 500;

        }

        .bloc-text-alignement-ligne3{
            display: block;
        }

        .texte1-alignement-ligne3{
            color: black;
            font-size: 5vw;
        }

        .texte2-alignement-ligne3{
            color: black;
        }

        .bouton-image-ligne3{
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
            width: 10vw;
            transition: all 0.3s ease;
            height: 5vh;
            background-image: url("Images1/Button (1).png");
            background-size: cover;
            background-repeat: no-repeat;

        .bouton-text-ligne3-text {
              display: block;
              text-align: center;
              line-height: 20px;
            }
        }
        }

/*=====================lIGNE4===================*/

@media screen and (min-width: 300px) and (max-width: 600px) {

    .ligne4{
    display: flex;
    width: fill;
    height: 100vh;
    margin-top: 100px;
        margin-bottom: 20vh;
}
    .contenu-ligne5{
    width: 53%;
    height: 85%;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    padding-top: 20px;
    gap: 2px;
    justify-content: start;
    padding-left: 30px;
}

    .image-gauche-ligne4{
    height: 100vh;
        width: 30%;
    background-image:url("Images1/Photo (5).png") ;
    background-size: cover;
}
    .bloc-centre-ligne4{
        width: 30%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    background-color: white;
    border-image-source: url("Images1/Line.png");
    border-bottom: solid;
}

    .image-droite-ligne4{
        display: none;

    }

.texte1-ligne5{
    color: #7FC884;
    font-size-adjust: auto;
    text-align: left;
    font-size: large;
    }

.texte2-ligne5{
    color: #274C5B;
    text-align: left;
    font-size: small;
}

.texte3-ligne5{
    color: #7FC884;
    font-style: italic;
    font-size-adjust: auto;
    text-align: left;
    font-size: medium;
}

.texte4-ligne5{
    color: #274C5B;
    font-style: normal;
    font-size-adjust: auto;
    text-align: left;
    font-size: large;
    line-height: 1vh;
}
}

.bas-ligne4{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.cercle-ligne4 {
    display: flex;
    flex-wrap: wrap;
    width: 70px;
    height: 70px;
    background: #F1F1F1;
    border-radius: 50%;
    border: 3px #7EB693 solid;
    justify-content: center;
    text-align: center;
    background-clip: content-box;
    margin: auto;
}

.texte1-cercle-ligne4{
    font-size: x-large;
    color: #274C5B;
    font-size-adjust: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.texte2-cercle-ligne4{
    color: #274C5B;
    font-size: 12px;
    flex-wrap: wrap;
}


/*=====================================================Ligne5=========================================================*/

@media screen and (min-width: 300px) and (max-width: 900px){


    .ligne5{
        display: flex;
        width: 100%;
        height: 70vh;
        margin-top: 100px;
        background-image: url("Images1/Photo-4.jpg");
        background-size: 50% 100%;
        background-repeat: no-repeat;
        padding-top: 10vh;
        justify-content: right;
    }

    .contenu-ligne5{
        width: 53%;
        height: 85%;
        background: white;
        display: flex;
        flex-direction: column;
        border-radius: 5%;
        padding-top: 20px;
        gap: 2px;
        justify-content: start;
        padding-left: 30px;
    }

    .texte1-ligne5{
        color: #7FC884;
        font-size-adjust: auto;
        text-align: left;
        font-size: 12px;
        }

    .texte2-ligne5{
        color: #274C5B;
        text-align: left;
        font-size: 10px;
    }

    .texte3-ligne5{
        color: #7FC884;
        font-style: italic;
        font-size-adjust: auto;
        text-align: left;
        font-size: medium;
    }

    .texte4-ligne5{
        color: #274C5B;
        font-style: normal;
        font-size-adjust: auto;
        text-align: left;
        font-size: x-large;
        line-height: 1vh;
    }

}

/*=====================================================Ligne6=========================================================*/
@media screen and (min-width: 300px) and (max-width: 900px){

.ligne6{
    display: flex;
    margin-top: 10vh;
    width: 100%;
    height: 60vh;
    background-color: #F1F8F4;
    justify-content:space-evenly;
    padding-top: 10vh;
}

.boite1-ligne6{
    width: 30%;
    height: 50vh;
    background-image: url("Images1/1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.boite2-ligne6{
    width: 30%;
    height: 50vh;
    background-image: url("Images1/2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.boite3-ligne6{
    width: 30%;
    height: 50vh;
    background-image: url("Images1/3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
}

/*=====================lIGNE7===================*/

@media screen and (min-width: 300px) and (max-width: 900px){
    .texte-image-ligne7 {
        width: 40%;
        display: block;
        font-size: medium;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bolder;
    }

    .bouton-ligne7 {
      font-size: 7px;
        width: 70%;
}

    input {
      width: 80%;
      padding: 0.5rem;
      font-size: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
}


}

/*=====================footer===================*/

@media screen and (min-width: 300px) and (max-width: 900px){

    .gauche-footer {
      margin-top: 50px;
      text-align: right;
      width: 30vw;
      height: 40vh;
    padding-right: 5vw;
}

.gauche-footer h2 {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 20px;
}

.gauche-footer p {
      font-size: 0.7rem;
      margin-bottom: 10px;
}

.droite-footer {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    width: 30vw;
    height: auto;
    padding: 25px;
    border-left: #B4A42C solid;
}

.bloc-logo-footer {
    display: flex;
    width: 30vw;
    height: 10vh;
    gap: 1rem;
    justify-content: center;

}


.texte1-droite-footer {
    font-size: large;

}

.texte2-droite-footer {
    font-size: x-large;
}

.cercle-footer-Insta {
    width: 2vw;
    height: 2vh;
}

.cercle-footer-Fb {
    width: 2vw;
    height: 2vh;
}

.cercle-footer-Twitter {
    width: 2vw;
    height: 2vh;
}

.cercle-footer-Pinterest {
    width: 2vw;
    height: 2vh;
}

.bloc-icone-droite-footer{
    display: flex;
    width: 30vw;
    height: 20vh;
    justify-content: center;
    gap: 1rem;
    padding-top: 5vh;
}

}
