/*=====================HEADER===================*/
@media screen and (max-width: 600px){
    .en-tete {
    flex-direction: column;
    }

  .logo {
    font-size: 10px;
    color: #000;
  }

  .menu {
    flex-direction: column;
    display: none;
  }

  .menu a {
    margin-bottom: 10px;
  }
}

/*===================Ligne1=======================*/

@media screen and (max-width: 600px){
    .titre-ligne1{
        font-size: 50px;
    }
}

/*===================Ligne2=======================*/

@media (max-width: 768px) {
    .ligne2P2 {
        flex-direction: column;
    }

    .image-ligne2p2 {
        width: 100%;
        height: 50vh;
    }

    .contenu-ligne2P2 {
        width: 100%;
        margin-top: 2%;
    }
}

@media (max-width: 480px) {
    .ligne-icone {
        width: 100%;
    }

    .icone1-ligne2P2,
    .icone2-ligne2P2 {
        width: 20%;
        height: 10vh;
    }

    .texte2P2 {
        font-size: 1.5rem;
    }

    .boutonP2 {
        width: 80%;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .ligne-icone {
        width: 50%;
    }

    .icone1-ligne2P2,
    .icone2-ligne2P2 {
        width: 30%;
        height: 10vh;
    }

    .texte2P2 {
        font-size: 2rem;
    }

    .boutonP2 {
        width: 40%;
    }
}


    /*===================Ligne3=======================*/
    .ligne3P2 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #F9F8F8;
}

.bloc-haut-ligne3P2 {
  margin-top: 10vh;
  height: 50%;
  display: flex;
  justify-content: center;
}

.gauche-Ligne3P2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2vh;
}

.cadre-ligne3P2 {
  display: flex;
  width: 100%;
  height: 5vh;
  background-color: #ECECEC;
  padding-top: 2vh;
  border-radius: 10px;
  gap: 1vh;
}

.cercle-Ligne3P2 {
  height: 1vh;
  width: 1vh;
  border-radius: 50%;
  border: #7FC884 solid;
}

.texte-cadre {
}

.droite-Ligne3P2 {
  background-image: url("Images2/3.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.bloc-bas-ligne3P2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5vh;
  height: 25%;
}

.cadre-icone-ligne3P2 {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  border-radius: 20px;
  height: 80%;
  width: 40%;
  background-color: white;
  justify-content: center;
  text-align: center;
}

.icone1-Ligne3 {
  height: 10vh;
  background-image: url("Images2/Icone(1).png");
  background-position: center;
  background-repeat: no-repeat;
}

.icone2-Ligne3 {
  height: 10vh;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("Images2/Icone(2).svg");
}

.icone3-Ligne3 {
  height: 10vh;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("Images2/Icone(3).svg");
}

.icone4-Ligne3 {
  height: 10vh;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("Images2/Icone (4).svg");
}

.texte-icone-ligne3P2 {
  font-weight: 600;
  font-size: 2vh;
}



    /*==========================================================LIGNE4==================================================================*/
    @media screen and (max-width: 768px) {
        .bloc-photo-ligne4P2 {
            display: flex;
            width: 100%;
            gap: 0vh;
            justify-content: center;
        }

        .bloc-texte-ligne4P2{
            display: flex;
            flex-direction: column;
            height: 20vh;
            gap: 0;
            width: 100%;
            justify-content: center;
}

        .boite{
            display: block;
            height: 60vh;
            width: 40vh;
            border-radius: 20px;
            background-color: #F9F8F8;
        }

    }






    /*======================================Ligne5==============================*/
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        .Produits {
            height: 20vh;
            display: flex;
            flex-wrap: wrap;
            border: black solid;
        }

        .bloc-image-ligne5P2 {
            width: 10vh;
            height: 20vh;
            border-radius: 10px;
        }

        .Epices {
            border-radius: 20px;
            width: 10vh;
            height: 15vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("Images2/7.png");
        }

        .Noix {
            border-radius: 20px;
            width: 10vh;
            height: 15vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("Images2/8.png");
        }

        .Fruits {
            border-radius: 20px;
            width: 10vh;
            height: 15vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("Images2/9.png");
        }

        .Legume {
            border-radius: 20px;
            width: 10vh;
            height: 15vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("Images2/10.png");
        }

        .texte-image-ligne5P2 {
            text-align: left;
            color: white;
            font-size: 1vh;
        }
    }

    @media screen and (max-width: 600px) {
        .Produits {
            height: 10vh;
            display: flex;
            flex-wrap: wrap;
            border: black solid;
        }

        .bloc-image-ligne5P2 {
            width: 5vh;
            height: 5vh;
            border-radius: 10px;
        }

        .Epices {
            border-radius: 20px;
            width: 2vh;
            height: 3vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("Images2/7.png");
        }

        .Noix {
            border-radius: 20px;
            width: 2vh;
            height: 3vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("Images2/8.png");
        }

        .Fruits {
            border-radius: 20px;
            width: 2vh;
            height: 3vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("Images2/9.png");
        }

        .Legume {
            border-radius: 20px;
            width: 2vh;
            height: 3vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("Images2/10.png");
        }

        .texte-image-ligne5P2 {
            text-align: left;
            color: white;
            font-size: 1rem;
        }
    }






























